*
{
    margin:0px; /*property-name: property-value;*/
    padding:0px;
}

header{
    width: 100%;
    align-items: center;
    background-color: rgb(255, 8, 8);
    padding-bottom: 5px;
}

h1{
    text-align: center;
}

header h1{
    text-align: center;
    color:rgb(104, 10, 34);
}

.nav{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav a{
    color:rgb(251, 77, 94);
}

.current{
    color:aqua;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.content{
    width:100%

}

footer{
    width:100%;
    position: fixed;
    bottom: 0;
    background-color:aquamarine;
    text-align: center;
}